body {background-color:black;}

h1{color:grey; font:verdana;}

.maindiv{
    background-color:white;
    width:300px;
    padding:20px;
    border-radius:25px;
    margin:auto;
}

label {

	display: inline-block;
	margin-right: 5px;
	min-width: 80px;
}

